/*.widget-outer-poster{
	position:relative;
}
.widget-poster{
position:absolute;
height:100%;
}*/

* {
  /*border: 1px solid red;*/
}

#movie-display-template{s
	display:none;
}

#notfound{
	display: block;

}

#widget-template{
	display:none;
}